@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.movie-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $primary-color;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(114, 113, 113, 0.5);
    backdrop-filter: blur(10px);

    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  .movie-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    padding: 0;

    @include tablet {
      margin-bottom: 2rem;
    }

    button {
      display: none;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      font-size: 1rem;
      color: whitesmoke;
      border: none;
      background: none;
      cursor: pointer;
      transition: font-size 0.3s ease;

      .icon {
        font-size: 1.5rem;

        @include tablet {
          font-size: 2rem;
        }
      }

      &:hover .icon {
        font-weight: bold;
      }
    }

    @include pc {
      .back-pc-btn,
      .next-pc-btn {
        display: flex;
      }
    }

    @include tablet {
      .back-tab-btn,
      .next-tab-btn {
        display: flex;
        gap: 0.5rem;
        padding: 0;
      }
    }

    .flip-horizontal {
      display: inline-block;
      transform: scaleX(-1);
    }
  }

  .movie-details {
    display: grid;
    grid-template-areas:
      "poster button button button"
      "poster title title title"
      "poster score rating release"
      "poster description description description ";
    grid-template-columns: auto auto auto 3fr;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    gap: 0.5rem 1.5rem;
    padding: 3rem;

    @include tablet {
      width: 500px;
      align-self: center;
      grid-template-areas:
        "poster score button"
        "poster rating ."
        "poster release release"
        "title title title"
        "description description description";
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: auto auto auto auto auto;
      align-items: flex-start;
      gap: 1rem;
      padding: 1.5rem 3rem;
    }

    @include mobile {
      min-width: 300px;
      width: 100%;
      padding: 0.5rem;
    }

    .movie-poster {
      grid-area: poster;
      width: 200px;
      height: auto;
      margin-right: 1rem;

      @include tablet {
        width: 100%;
        margin: 0;
      }
      @include mobile {
        width: 100%;
        margin: 0;
      }
    }

    .custom-button {
      grid-area: button;
      justify-self: flex-end;

      .button-title,
      .button-icon {
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
      }

      .fade {
        opacity: 1;
      }

      .fade-out {
        opacity: 0;
      }

      @include pc {
        .button-icon {
          display: none;
        }
      }
      @include tablet {
        .button-title {
          display: none;
        }
      }
    }

    .movie-title {
      grid-area: title;
      font-size: 1.5rem;
      font-weight: bold;
      color: $primary-color;

      @include tablet {
        margin-top: 2rem;
      }

      @include mobile {
        font-size: 1.2rem;
      }
    }

    .score {
      grid-area: score;
      margin: 0;
    }
    .rating {
      grid-area: rating;
      margin: 0;
    }
    .release {
      grid-area: release;
      margin: 0;
    }

    .score,
    .rating {
      position: relative;
      font-size: 1rem;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -0.8rem;
        height: 80%;
        width: 1px;
        background-color: $secondary-color;

        @include tablet {
          content: none;
        }
      }
    }

    .movie-description {
      grid-area: description;
      position: relative;
      font-size: 1rem;
      line-height: 1.5;
      color: $primary-color;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $secondary-color;
      }

      &::before {
        top: -10px;
      }

      &::after {
        bottom: -10px;
      }
    }
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
