/* You can add global styles to this file, and also import other style files */
@import './styles/variables.scss';
@import './styles/mixins.scss';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

h2 {
  color: $secondary-color;
  font-size: 1.5rem;

  @include mobile {
    font-size: 1rem;
  }
}

.fallback-text {
  text-align: center;
}
